/* General */
* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


body {
    /*#fe7253 x #fcbdb0*/
    background: #fe7253;
}

body .container {
    margin: 0 auto;
    min-width: 400px;
    width: 50%;
    border-radius: 25px;
    padding: 10px;
}

body main {
    background: #feab53;
    border: 1px solid blueviolet;
}

body main h1 {
    text-align: center;
}

body main ul {
    margin-top: 15px;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

body main ul li a {
    box-sizing: border-box;
    border: 1px solid blueviolet;
    display: block;
    height: 100%;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

body #divGoBack button {
    height: 35px;
    font-size: 1rem;
    background: #f65920;
    cursor: pointer;
    border-radius: 25px;
    width: 75px;
}

body #divGoBack button:hover {
    background: #b2441c;
}

/* Home */

body#home main ul {
    align-items: center;
}

body#home main ul li {
    width: 25%;
    height: 35px;
    background: #fbca57;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid greenyellow;
    text-align: center;
}

body#home main ul li:hover {
    background: #d6ae51;
}

/* Login, Register, Profile */

body#login main form ul, body#register main form ul, body#profile main form ul {
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

body#login main form ul li input, body#register main form ul li input, body#profile main form ul li input {
    border-radius: 15px;
    height: 22px;
    padding: 0 8px;
}

/* Login, Register */

body#login main form ul li#submit input, body#register main form ul li#submit input {
    height: 35px;
    font-size: 1rem;
    background: #fbca57;
    cursor: pointer;
    
}

body#login main form ul li#submit input:hover, body#register main form ul li#submit input:hover {
    background: #d6ae51;
}

/* Register, Profile */

body#register main form ul li#gender, body#profile main form ul li#gender {
    border: 1px solid purple;
    position: relative;
    right: 44px;
}

body#register main form ul li#birthdate, body#profile main form ul li#birthdate {
    border: 1px solid purple;
    position: relative;
    right: 20px;
}

body#register main form ul li#gender input, body#profile main form ul li#gender input {
    height: 15px;
}

/* Mainpage */

body#mainpage .container {
    min-width: 400px;
    width: 80%;
}

body#mainpage main ul {
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

body#mainpage main ul li#profile button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fbca57;
    cursor: pointer;
}

body#mainpage main ul li#profile button:hover {
    background: #d6ae51;
}

body#mainpage main ul li#profile button i {
    font-size: 3rem;
}

body#mainpage main ul hr {
    height: 1px;
    background-color: black;
    width: 90%;
    border: none
}

body#mainpage main ul li#compliment p {
    font-size: 1.5rem;
}

/* Profile Page */
body#profile main form ul li#logout input {
    height: 35px;
    font-size: 1rem;
    background: #de332d;
    cursor: pointer;
    border-radius: 25px;
    width: 125px;
}

body#profile main form ul li#logout input:hover {
    background: #ab1b17;
}

body#profile main form ul li button {
    border-radius: 15px;
    height: 22px;
    font-size: 1rem;
    background: #f65920;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
}

body#profile main form ul li button:hover {
    background: #b2441c;
}

body#profile main form ul li#gender {
    right: 69px;
}

body#profile main form ul li#birthdate {
    right: 25px;
}

/* Profile Page, Mainpage - Overlay */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#overlay div.container {
    position: relative;
    background: #feab53;
    min-width: 300px;
    width: 40%;
}

#overlay form ul li#submit input {
    height: 35px;
    font-size: 1rem;
    background: #fbca57;
    cursor: pointer;
}
#overlay form ul li#submit input:hover {
    background: #d6ae51;
}

#overlay button#btClose {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.1rem;
    background: #f65920;
    cursor: pointer;
    border-radius: 40px;
    width: 35px;
    height: 35px;
}

#overlay button#btClose:hover {
    background: #b2441c;
}